@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville|Poppins:400,500");
.button a, header .header__button a {
  display: block;
  background: #fc5f45;
  border-radius: 25px;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
  width: 180px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  font-size: 16px; }

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0; }

ul, li {
  margin: 0;
  padding: 0; }

.wrap {
  max-width: 1170px;
  margin: 0 auto; }

menu {
  background: #ffffff;
  margin: 0;
  padding: 0; }
  menu .wrap__content {
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 0; }
  menu nav ul {
    display: inline-flex; }
    menu nav ul li {
      list-style: none; }
      menu nav ul li a {
        display: block;
        font-size: 14px;
        text-decoration: none;
        line-height: 35px;
        font-weight: 500;
        color: #272727;
        transition: all 200ms; }
        menu nav ul li a::before {
          content: "";
          margin-left: 23px; }
        menu nav ul li a:hover {
          color: #fc5f45;
          transform: scale(1.2); }

header {
  background: #3f4049;
  padding: 175px 0; }
  header .wrap {
    max-width: 850px; }
  header h1 {
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    font-size: 60px;
    color: #ffffff;
    text-align: center;
    font-weight: 100; }
  header .header__button a {
    margin: 50px auto 0 auto;
    transition: all 200ms; }
    header .header__button a:hover {
      transform: scale(1.1); }
  header .prepose {
    display: inline-flex;
    justify-content: center;
    width: 100%; }
    header .prepose__items {
      display: flex;
      flex-direction: column;
      width: 25%;
      text-align: center;
      color: #b27cf5; }
      header .prepose__items img {
        margin: 80px auto 0 auto;
        height: 40px;
        width: 42px; }
      header .prepose__items span {
        margin-top: 35px; }
      header .prepose__items:first-child {
        color: #3aa281; }
      header .prepose__items:last-child {
        color: #feb960; }

/*# sourceMappingURL=style.css.map */
